<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kakao_bank_macro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <kakao_bank_macro.Properties.Settings>
            <setting name="CBHighValue" serializeAs="String">
                <value />
            </setting>
            <setting name="CBLowValue" serializeAs="String">
                <value />
            </setting>
            <setting name="CPHighDWValue" serializeAs="String">
                <value />
            </setting>
            <setting name="CPLowDWValue" serializeAs="String">
                <value />
            </setting>
            <setting name="CPLowWDValue" serializeAs="String">
                <value />
            </setting>
            <setting name="CPHighWDValue" serializeAs="String">
                <value />
            </setting>
            <setting name="startMon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startMorning" serializeAs="String">
                <value />
            </setting>
        </kakao_bank_macro.Properties.Settings>
    </userSettings>
</configuration>